<div class="main-container">
  <button class="close" (click)="userReply(false)">
    <img src="{{ closeButton }}" alt="close" />
  </button>
  <div class="warning-text">
    <div class="warning-title" *ngIf="popupTitle">
      {{ popupTitle | translate }}
    </div>
    <div class="warning-subtitle" *ngIf="popupSubtitle">
      {{ popupSubtitle | translate }}
    </div>
  </div>
  <div class="buttons-container">
    <button [ngClass]="router.url === '/ubs/order' ? 'ubs-secondary-global-button' : 'secondary-global-button'" (click)="userReply(false)">
      {{ popupCancel | translate }}
    </button>
    <button [ngClass]="router.url === '/ubs/order' ? 'ubs-primary-global-button' : 'primary-global-button'" (click)="userReply(true)">
      {{ popupConfirm | translate }}
    </button>
    <button class="ubs-primary-global-button red" type="button" *ngIf="visible" (click)="cancelUBSwithoutSaving()">
      {{ 'order-details.cancel' | translate }}
    </button>
  </div>
</div>
